@model IEnumerable<PALOITChallenge.Models.IllnessTableModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Diseases</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Disease</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.painLevel)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.painLevel)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.IllnessId">Edit</a> 
    
            </td>
        </tr>
}
    </tbody>
</table>
